<h1>{{title}}</h1>
<form class="Reference-form" >
   
<h2>How did you come to know about Assimilate Technologies?</h2>
<h3>[Tick/Fill in the appropriate choice(s)]</h3>
<mat-list>
  <tr>
      <td>
          <mat-list-item>
              <mat-checkbox labelPosition="before" color="primary">1. From Assimilate leaflet/brochure taken from</mat-checkbox>
          </mat-list-item>
      </td>
    </tr>
    <tr>  
      <td>
          <mat-list-item>
              <mat-checkbox labelPosition="before" color="primary">2. From Advertisement</mat-checkbox>
          </mat-list-item>
      </td>
    </tr> 

    <tr>  
      <td>
          <mat-list-item>
              <mat-checkbox labelPosition="before" color="primary">3. From Poster Banner</mat-checkbox>
          </mat-list-item>
      </td>
    </tr> 

    <tr>  
      <td>
          <mat-list-item>
              <mat-checkbox labelPosition="before" color="primary">4. from Present</mat-checkbox>
          </mat-list-item>
      </td>
    </tr> 

    <tr>  
      <td>
          <mat-list-item>
              <mat-checkbox labelPosition="before" color="primary">5. Other </mat-checkbox>
          </mat-list-item>
      </td>
    </tr>
  
  </mat-list>
<!-- <mat-checkbox labelPosition="before" color="primary">1. From Assimilate leaflet/brochure taken from</mat-checkbox><br>
<mat-checkbox labelPosition="before"color="primary">2. From Advertisement</mat-checkbox><br>
<mat-checkbox labelPosition="before" color="primary"></mat-checkbox><br>
<mat-checkbox labelPosition="before" color="primary">4. from Present/Ex-Assimilate Technology student</mat-checkbox><br>
<mat-checkbox labelPosition="before" color="primary">5. Other </mat-checkbox> -->
<mat-form-field appearance="fill">
        <input matInput placeholder="Your Answer" value="" >    
        <mat-hint align="end">If other then please mention</mat-hint>   
      </mat-form-field>

      <h2>References:</h2>
      <mat-form-field >
        <mat-label>Name: </mat-label>
        <input matInput placeholder="Your Answer" value="">
      </mat-form-field>

      <mat-form-field >
        <mat-label>Email Id: </mat-label>
        <input matInput placeholder="Your Answer" value="">        
      </mat-form-field>

      <mat-form-field >
        <mat-label>Mobile No.</mat-label>
        <input matInput placeholder="Your Answer" value="">
      </mat-form-field>

      <h3>DECLARATION:</h3>
      <tr>
        <td>          
      <mat-checkbox color="primary">I/We hereby declare that all the details stated above in this registration form <br>are true to the best of my/our knowledge and I/we promise to abide by the <br> rules and regulations of the Assimilate Technologies</mat-checkbox>
      </td>
      </tr>
      <button mat-raised-button color="primary" disableRipple=true >Submit</button>    
    
</form>


 
