 <!-- <mat-toolbar  class="navbar"> 
    <div style="color:white">AssmilmateTechnology</div>
    <div>
        <span style="color:white">Registration</span>
       
        
    
    </div>
</mat-toolbar>   -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
     <button> <a routerLink="./course">Step1</a></button>
     <button> <a routerLink="./course">Step1</a></button>
     <button> <a routerLink="./course">Step1</a></button>
  </mat-toolbar-row>

</mat-toolbar>

