<h2>Choose Your Course:(Tick Applicable One)</h2>




<mat-list>
    <table>
        <tr>
            <td>
                <mat-list-item>
                    <mat-checkbox>C</mat-checkbox>
                </mat-list-item>
            </td>

            <td>
                <mat-list-item>
                    <mat-checkbox>C#.NET</mat-checkbox>

                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Angular JS 4.0</mat-checkbox>

                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>AWS Cloud</mat-checkbox>

                </mat-list-item>
            </td>
            

        </tr>

        <tr>
            <td>

                <mat-list-item>
                    <mat-checkbox>C++</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>ASP.NET</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Big Data/Hadoop</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Live Projects</mat-checkbox>
                </mat-list-item>
            </td>
        </tr>
        <tr>
            <td>
                <mat-list-item>
                    <mat-checkbox>Core Java</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>MVC.NET</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Selenium Testing</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Python</mat-checkbox>
                </mat-list-item>
            </td>
        </tr>

        <tr>
            <td>
                <mat-list-item>
                    <mat-checkbox>Advance Java</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Web Designing</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>DevOps</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Aptitude</mat-checkbox>
                </mat-list-item>
            </td>
        </tr>
        <tr>
           
            <td>
                <mat-list-item>
                    <mat-checkbox>Java Script & JQuery</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Tableau</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Soft Skills</mat-checkbox>
                </mat-list-item>
            </td>
        </tr>
        <tr>
            <td>
                <mat-list-item>
                    <mat-checkbox>PL SQL</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Data Structure using C</mat-checkbox>
                </mat-list-item>
            </td>
            <td>
                <mat-list-item>
                    <mat-checkbox>Interview Preparation</mat-checkbox>
                </mat-list-item>
            </td>
        </tr>
    </table>
</mat-list>
<br>
<br>
<h2>Programme Options</h2>
<h3>Batch Option:</h3>
<mat-list>
<tr>
    <td>
        <mat-list-item>
            <mat-checkbox>Regular</mat-checkbox>
        </mat-list-item>
    </td>
    
    <td>
        <mat-list-item>
            <mat-checkbox>Weekend</mat-checkbox>
        </mat-list-item>
    </td>
</tr>
</mat-list>
<mat-card-actions>
    <!-- <button mat-button>Registration</button> -->
    <button><a routerLink="/personal">Personal Details</a></button>
    <!-- <button style="color: blue"> <a routerLink="./personal" >Personaldetails</a></button> -->
    <!-- <button mat-button>SHARE</button> -->
    <!-- <personal-comp></personal-comp> -->
  </mat-card-actions>