
<master-comp></master-comp> 
<course-comp></course-comp>
<footer-comp></footer-comp>
<Acad-comp></Acad-comp> 
<refer-comp></refer-comp>
<!-- <mat-sidenav-contanier>
  <mat-sidenav-content>
    <form [formGroup]="myForm" >
     
<mat-form-field class="example-full-width">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Name" formControlName="name">
</mat-form-field> 



<mat-form-field class="example-full-width">
  <mat-lable>Email</mat-lable>
  <input matInput placeholder="Email" formControlName="email">
</mat-form-field>


<div class="misc-bottom-padding">
  <mat-lable>Gender</mat-lable>
  <mat-radio-group aria-label="Select an Option" form></mat-radio-group>
  <mat-radio-button></mat-radio-button>
</div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-contanier> -->