<mat-card class="example-card" style="height:440px;">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Assimilate Technology</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Assimilate Technologies is a team of fresh mindset, dynamic, 
        experienced, technically strong focussed team of highly 
        motivated software professionals with unsurpassed technological expertise 
        that is capable of delivering best of breed software technology 
        training booming in IT. As part of society, we are responsible 
        to give something back to society for a good cause. We are
        enthusiastic group of people willing to help the IT aspirant 
        who wants to enter into IT industry with our experience at 
        affordable price.
        Our aim to prepare the IT professionals, who are lacking perception 
        or essential skills, vital to excel in the IT field. 
        The training program is designed to make them adept in facing 
        challenges of the IT world. It provides a favorable opportunity 
        to fresh and experience IT graduates to maximize their potential 
        and also assists in launching their careers.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Registration</button> -->
      <button style="color: blue"> <a routerLink="/course">Registration</a></button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>